/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/*Variables*/

:root{
    --main-color:#04aed9;
    --text-color:#020102;
    --bg-color:#fff;
}
/* custom scroll Bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section{
    padding: 4rem 0 2rem;

}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow{
    background-color: var(--bg-color);
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}


.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 2rem;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--bg-color);
}

.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid  var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(img/bgim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home-text{
    padding-left: 130px;
    color:#f8f8f8;
}

.home-text h1{
    font-size: 2.4rem;
}


.home-text span{
    color: var(--main-color);
}

.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}

.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}

.btn:hover{
    background: #3305fd;

}

.heading{
    text-align: center;
}

.heading span{
    font-weight: 500;
    color: var(--main-color);
}

.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}


.order-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    
}

.order-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.order-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.order-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;

}

.order-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;

}

.order-container  .box:hover h2{
    background: var(--main-color);
    color: var(--bg-color);
}
.order-container .box .btn{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(white);
}

.order-container .box .btn:hover{
    color: var(white);
    column-gap: 0.7rem;
    transition: 0.4s;

}

.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;

}

.about-img{
    flex: 0 1 21rem;
}

.about-text{
    flex: 1 1 21rem;
}


.about-text span{
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2{
    font-size: 1.7rem;
}

.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}


.payment-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.payment-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;

}

.payment-container .box img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: absolute;
    margin-bottom: 0rem;
}

.payment-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
}

.payment-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}

.payment-container .box .bx{
    color: var(--main-color);
    margin: 0.8rem 0;
}

.payment-container .box .btn{
    max-width: 120px;
}


.payment-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
}

.payment-container .box .details:hover{
    color: var(--main-color);
    text-decoration: underline;
}


.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.blog-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}

.blog-container .box:hover{
    background: #f6f6f6;
}

.blog-container .box span{
    font-size: 0.8rem;
    color: var(--main-color);
}

.blog-container h3{
    font-size: 1.2rem;

}

.blog-container.box p{
    font-size: 0.938rems;
    margin: 4px 0;
}

.blog-container .box .blog-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);

}

.blog-container .box .blog-btn .bx{
    font-size: 20px;
}

.blog-container .box .blog-btn:hover{
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;

}

.footer{
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;

}

.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}


.social{
    display: flex;
    align-items: center;
}

.social a{
    font-size: 24px;
    color:var(--bg-color);
    margin-right: 1rem;
}


.social a:hover{
    color: var(--main-color);
}


.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;

}


.footer-box p:hover{
    color: var(--main-color);
}


.footer-box a,
.footer-box p{
    color: #818181;
    margin-bottom: 10px;

}


.footer-box a:hover{
    color: var(--main-color);
}


.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}

.copyright p:hover{
    color: var(--main-color);
}


/* Making Responsive */
@media (max-width: 1080px) {
    .container {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  @media (max-width: 991px) {
    .nav {
      padding: 15px 20px;
    }
    section {
      padding: 3rem 0 1rem;
    }
    .home-text {
      padding-left: 2rem;
    }
    .home-text h1 {
      font-size: 2.1rem;
    }
  }
  @media (max-width: 920px) {
    #search-icon {
      color: var(--text-color);
    }
  }
  @media (max-width: 768px) {
    .search-box input {
      padding: 15px;
    }
    .nav {
      padding: 10px 0;
    }
    #menu-icon {
      display: initial;
    }
    .navbar {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      background: var(--bg-color);
      row-gap: 0.5rem;
      text-align: center;
      box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
      clip-path: circle(0% at 0% 0%);
      transition: 0.6s;
    }
    .navbar a {
      display: block;
      padding: 15px;
    }
    .navbar a:hover,
    .navbar .active {
      border-bottom: none;
      background: var(--main-color);
      color: var(--bg-color);
    }
    .navbar.active {
      clip-path: circle(144% at 0% 0%);
    }
    .blog-container .box {
      padding: 4px;
    }
  }
  @media (max-width: 727px) {
    .heading span {
      font-size: 0.9rem;
    }
    .heading h2 {
      font-size: 1.4rem;
    }
    .about {
      flex-direction: column-reverse;
    }
    .about-text {
      text-align: center;
    }
    .about-text h2 {
      font-size: 1.4rem;
    }
  }
  @media (max-width: 607px) {
    .footer-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 360px) {
    .search-box input {
      padding: 11px;
    }
    .home {
      min-height: 500px;
    }
    .home-text h1 {
      font-size: 2rem;
    }
    .home-text p br {
      display: contents;
    }
  }
  
  @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }
  
  body{
    background: #2196F3;
    margin: 0 10px;
  }
  
  .payment{
    background: #f8f8f8;
    max-width: 360px;
    margin: 80px auto;
    height: auto;
    padding: 35px;
    padding-top: 70px;
    border-radius: 5px;
    position: relative;
  }
  
  .payment h2{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #0d3c61;
  }
  
  .form .label{
    display: block;
    color: #555555;
    margin-bottom: 6px;
  }
  
  .input{
    padding: 13px 0px 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-spacing: 3px;
    outline: none;
    font-size: 16px;
    color: #555555;
  }
  
  .card-grp{
    display: flex;
    justify-content: space-between;
  }
  
  .card-item{
    width: 48%;
  }
  
  .space{
    margin-bottom: 20px;
  }
  
  .icon-relative{
    position: relative;
  }
  
  .icon-relative .fas,
  .icon-relative .far{
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 20px;
    color: #555555;
  }
  
  .btn{
    margin-top: 40px;
    background: #2196F3;
    padding: 12px;
    text-align: center;
    color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .payment-logo{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 85px;
  }
  
  .payment-logo:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #2196F3;
    border-radius: 50%;
  }
  
  .payment-logo p{
    position: relative;
    color: #f8f8f8;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 58px;
  }
  
  
  @media screen and (max-width: 420px){
    .card-grp{
      flex-direction: column;
    }
    .card-item{
      width: 100%;
      margin-bottom: 20px;
    }
    .btn{
      margin-top: 20px;
    }
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: pop;
    src: url(./Fonts/Poppins-Medium.ttf);
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pop;
    flex-direction: column;
}
.head{
    text-align: center;
}
.head_1{
    font-size: 30px;
    font-weight: 600;
    color: #333;
}
.head_1 span{
    color: #ff4732;
}
.head_2{
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-top: 3px;
}
ul{
    display: flex;
    margin-top: 80px;
}
ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li .icon{
    font-size: 35px;
    color: #ff4732;
    margin: 0 60px;
}
ul li .text{
    font-size: 14px;
    font-weight: 600;
    color: #ff4732;
}

/* Progress Div Css  */

ul li .progress{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(68, 68, 68, 0.781);
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.progress::after{
    content: " ";
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: rgba(68, 68, 68, 0.781);
    right: 30px;
}
.one::after{
    width: 0;
    height: 0;
}
ul li .progress .uil{
    display: none;
}
ul li .progress p{
    font-size: 13px;
}

/* Active Css  */

ul li .active{
    background-color: #12eedc;
    display: grid;
    place-items: center;
}
li .active::after{
    background-color: #ff4732;
}
ul li .active p{
    display: none;
}
ul li .active .uil{
    font-size: 20px;
    display: flex;
}

/* Responsive Css  */

@media (max-width: 980px) {
    ul{
        flex-direction: column;
    }
    ul li{
        flex-direction: row;
    }
    ul li .progress{
        margin: 0 30px;
    }
    .progress::after{
        width: 5px;
        height: 55px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    .one::after{
        height: 0;
    }
    ul li .icon{
        margin: 15px 0;
    }
}

@media (max-width:600px) {
    .head .head_1{
        font-size: 24px;
    }
    .head .head_2{
        font-size: 16px;
    }
}
